<div class="">
    <textarea id="chatLog" class="form-control" readonly><% _.each(chatLogs, function(chatLog){ %>
[<%=chatLog.date%>]<%=chatLog.userName%> : <%=chatLog.message%><% }); %>
</textarea>
    <form id="chat">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span id="userName" class="input-group-text"></span>
            </div>
            <input type="text" name="message" class="form-control" aria-label="message">
            <div class="input-group-append">
                <button type="submit" class="input-group-text">전송</button>
            </div>
        </div>
    </form>
</div>
